body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
header {
  background: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

/* NAV */
nav {
  display: flex;
  justify-content: center;
  background: #555;
}

nav a {
  color: white;
  padding: 15px;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  background: #777;
}

/* HERO */
.hero {
  padding: 60px;
  text-align: center;
}

/* FOOTER */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}
